
.navbar-brand{
    font-size: xx-large;
    font-weight: 700;
}
.nav-item{
    font-weight: 600;
}

/* .navbar-light .navbar-brand:focus{
    color: #000;
} */

.carousel-caption h1{
    font-size: 40px;
    letter-spacing: 5px;
}

.services .card-body i{
    font-size: 50px;
}

#card{
    height: 100%;
}

.card .card-body{
    height: 100%;
}
.card-img{
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}